@use "global" as *;

.l-inner {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: $innerWidth + $padding-pc * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  @include mq(md) {
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
  }
}
